<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/Sources_TP_App/tp-app-poo/App/Backend/Config/" module="News" action="index" />
  <route url="/Sources_TP_App/" module="News" action="index" />
  <route url="/Sources_TP_App/tp-app-poo/Web/" module="News" action="index" />
  <route url="/Sources_TP_App/tp-app-poo/Web/index.php" module="News" action="index" />
  <route url="/Sources_TP_App/tp-app-poo/Web/news-([0-9]+)\.html" module="News" action="show" vars="id"/>
  <route url="/Sources_TP_App/tp-app-poo/Web/commenter-([0-9]+)\.html" module="News" action="insertComment" vars="news" />
  <route url="/Sources_TP_App/tp-app-poo/Web/comment-signal-([0-9]+)\.html" module="News" action="signalComment" vars="id" />
</routes>