RewriteEngine On

AddType application/x-httpd-php .xml

RewriteRule ^admin/ bootstrap.php?app=Backend [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^.* bootstrap.php?app=Frontend&pageSuivante=1 [QSA,L]
RewriteRule ^index.php bootstrap.php?app=Frontend&pageSuivante=1 [QSA,L]





